*{
   background: #93a5cf
  


}


body {
  margin: 20px;
  height: 100vh;
  width: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  overflow: none;
  
}
 

.intro{
	display: flex;
  	position: absloute:
      
    border-radius: 15px;
	background: #C9CCD3;


  	justify-content: center;
  	
  	align-items: center;
  	
  
  
}


.intro h1{
 	font-size: 25px;
  	color: #d43f8d

  	
}



